{
    "parser": "babel-eslint",
    "extends": "standard",
    "parserOptions": {
      "sourceType": "module"
    },
    "env": {
      "node": true,
      "browser": true,
      "mocha": true,
      "es6": true
    },
    "plugins": [
      "standard"
    ]
}